li {
  background-color: #deaa88;
  display: inline-block;
  position: center;
  margin: 25px 25px;
}

body {
  background-color: #EAD2A8;
  padding: 25px;
  color: black;
}

header {
  background-color: #deaa88;
  text-align: center;
  color: black;
}

hr{
  border: 2px solid #deaa88;
}

a{
  text-decoration: none;
}

.searchBar{
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  margin-top: 20px;
}

#searchBar{
  height: 30px;
  width: 35%;
  border: 2px solid #deaa88;
}
#location{
  height: 29px;
  width: 20%;
  border: 2px solid #deaa88;
}

#dropdown{
  height: 35px;
  width: 11%;
  background-color: white;
  border: 2px solid #deaa88;
}

#searchBtn{
  height: 35px;
  width: 5%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid #deaa88;
}

