@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

li {
  display: inline-block;
}

body {
  background-color: rgb(68, 81, 121);
  margin: 0px;
  padding: 0px;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

a:visited {
  color: rgb(39, 39, 39);
}

a:hover {
  color: rgb(68, 81, 121);
}

.welcomeBar {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgb(39, 39, 39);
  margin: 0px;
}

.mainSection {
  background-color:rgb(255, 246, 246);
  width: 85%;
  height: 700px;
  border: 2px solid rgb(39, 39, 39);
  border-top: 0px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  text-align: center;
}


  /* login page */
#loginForm, #signupForm{
  display: inline-block;
  vertical-align: middle;
}

.backBtn {
  /* height: 30px; */
  width: 40%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(68, 81, 121);
  color: rgb(68, 81, 121);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}

#backBtn {
  /* height: 30px; */
  width: 40%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(68, 81, 121);
  color: rgb(68, 81, 121);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}

#submitBtn {
  /* height: 30px; */
  width: 40%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(68, 81, 121);
  color: rgb(68, 81, 121);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}

#loginBtn {
  /* height: 30px; */
  width: 40%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(68, 81, 121);
  color: rgb(68, 81, 121);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 45px;
  font-family: "Kanit", sans-serif;
}

#loginBtn:hover {
  border: 2px solid rgb(68, 81, 121);
  background-color: rgb(68, 81, 121);
  color: white;
  font-style: italic;
}

#ownerListingBtn{
  width: 30%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(68, 81, 121);
  color: rgb(68, 81, 121);
  margin-left: auto;
  margin-right: auto;
  font-family: "Kanit", sans-serif;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#ownerListingBtn:hover{
  border: 2px solid rgb(68, 81, 121);
  background-color: rgb(68, 81, 121);
  color: white;
  font-style: italic;
}

button:hover {
  border: 2px solid rgb(68, 81, 121);
  background-color: rgb(68, 81, 121);
  color: white;
  font-style: italic;
}

.login, .signup, .owner{
  text-align: center;
  padding-top: 30px;
}

#loginEmail{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 30%;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
  margin-bottom: 0px;
}

#loginPassword{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 30%;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
  margin-bottom: 0px;
}

  /* signup page */
  #password{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 30%;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }

  #phone{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 30%;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }

  #email{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 30%;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }

  #name{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 30%;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }

  #role{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 13%;
    background-color: white;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }

  #signupBtn{
    text-align: center;
    font-family: "Kanit", sans-serif;
    height: 36.5px;
    width: 15%;
    background-color: white;
    border-radius: 0px;
    border: 2px solid rgb(39, 39, 39);
    margin: 5px;
    margin-bottom: 0px;
  }


  /* workspace Details page */

#address{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 30%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#neighborhood{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 30%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#area{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 10%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#parking{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 8%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#public_transportation{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 8%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#workspace_type{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 8%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#seating_capacity{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 8%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#availability_date{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 20%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#lease_term{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 10%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#price{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 8%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#Description{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 36.5px;
  width: 30%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

/* co worker section*/
.searchBar{
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  text-align: center;
}

#searchBar{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 60px;
  width: 58.5%;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#location{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 59px;
  width: 17%;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#seatsDropdown, #priceDropdown, #sqftDropdown{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 65px;
  width: 13%;
  background-color: white;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#searchBtn{
  text-align: center;
  font-family: "Kanit", sans-serif;
  height: 65px;
  width: 20%;
  background-color: white;
  border-radius: 0px;
  border: 2px solid rgb(39, 39, 39);
  margin: 5px;
}

#searchBtn:hover{
  border: 2px solid rgb(68, 81, 121);
  background-color: rgb(68, 81, 121);
  color: white;
  font-style: italic;
}
